.h-12 {height: 100%;}
.h-11 {height: 91.67%;}
.h-10 {height: 83.33%;}
.h-9 {height: 75%;}
.h-8 {height: 66.67%;}
.h-7 {height: 58.33%;}
.h-6 {height: 50%;}
.h-5 {height: 41.67%;}
.h-4 {height: 33.33%;}
.h-3 {height: 25%;}
.h-2 {height: 16.67%;}
.h-1 {height: 8.33%;}
.vh-12 {height: 100vh;}
.vh-11 {height: 91.67vh;}
.vh-10 {height: 83.33vh;}
.vh-9 {height: 75vh;}
.vh-8 {height: 66.67vh;}
.vh-7 {height: 58.33vh;}
.vh-6 {height: 50vh;}
.vh-5 {height: 41.67vh;}
.vh-4 {height: 33.33vh;}
.vh-3 {height: 25vh;}
.vh-2 {height: 16.67vh;}
.vh-1 {height: 8.33vh;}
