.mg-top-12 {margin-top: 2em;}
.mg-top-11 {margin-top: 1.83em;}
.mg-top-10 {margin-top: 1.67em;}
.mg-top-9 {margin-top: 1.5em;}
.mg-top-8 {margin-top: 1.33em;}
.mg-top-7 {margin-top: 1.17em;}
.mg-top-6 {margin-top: 1em;}
.mg-top-5 {margin-top: 0.83em;}
.mg-top-4 {margin-top: 0.67em;}
.mg-top-3 {margin-top: 0.5em;}
.mg-top-2 {margin-top: 0.33em;}
.mg-top-1 {margin-top: 0.17em;}

.mg-left-12 {margin-left: 2em;}
.mg-left-11 {margin-left: 1.83em;}
.mg-left-10 {margin-left: 1.67em;}
.mg-left-9 {margin-left: 1.5em;}
.mg-left-8 {margin-left: 1.33em;}
.mg-left-7 {margin-left: 1.17em;}
.mg-left-6 {margin-left: 1em;}
.mg-left-5 {margin-left: 0.83em;}
.mg-left-4 {margin-left: 0.67em;}
.mg-left-3 {margin-left: 0.5em;}
.mg-left-2 {margin-left: 0.33em;}
.mg-left-1 {margin-left: 0.17em;}

.mg-right-12 {margin-right: 2em;}
.mg-right-11 {margin-right: 1.83em;}
.mg-right-10 {margin-right: 1.67em;}
.mg-right-9 {margin-right: 1.5em;}
.mg-right-8 {margin-right: 1.33em;}
.mg-right-7 {margin-right: 1.17em;}
.mg-right-6 {margin-right: 1em;}
.mg-right-5 {margin-right: 0.83em;}
.mg-right-4 {margin-right: 0.67em;}
.mg-right-3 {margin-right: 0.5em;}
.mg-right-2 {margin-right: 0.33em;}
.mg-right-1 {margin-right: 0.17em;}

.mg-bottom-12 {margin-bottom: 2em;}
.mg-bottom-11 {margin-bottom: 1.83em;}
.mg-bottom-10 {margin-bottom: 1.67em;}
.mg-bottom-9 {margin-bottom: 1.5em;}
.mg-bottom-8 {margin-bottom: 1.33em;}
.mg-bottom-7 {margin-bottom: 1.17em;}
.mg-bottom-6 {margin-bottom: 1em;}
.mg-bottom-5 {margin-bottom: 0.83em;}
.mg-bottom-4 {margin-bottom: 0.67em;}
.mg-bottom-3 {margin-bottom: 0.5em;}
.mg-bottom-2 {margin-bottom: 0.33em;}
.mg-bottom-1 {margin-bottom: 0.17em;}

.pd-right-12 {padding-right: 2em;}
.pd-right-11 {padding-right: 1.83em;}
.pd-right-10 {padding-right: 1.67em;}
.pd-right-9 {padding-right: 1.5em;}
.pd-right-8 {padding-right: 1.33em;}
.pd-right-7 {padding-right: 1.17em;}
.pd-right-6 {padding-right: 1em;}
.pd-right-5 {padding-right: 0.83em;}
.pd-right-4 {padding-right: 0.67em;}
.pd-right-3 {padding-right: 0.5em;}
.pd-right-2 {padding-right: 0.33em;}
.pd-right-1 {padding-right: 0.17em;}

.pd-left-12 {padding-left: 2em;}
.pd-left-11 {padding-left: 1.83em;}
.pd-left-10 {padding-left: 1.67em;}
.pd-left-9 {padding-left: 1.5em;}
.pd-left-8 {padding-left: 1.33em;}
.pd-left-7 {padding-left: 1.17em;}
.pd-left-6 {padding-left: 1em;}
.pd-left-5 {padding-left: 0.83em;}
.pd-left-4 {padding-left: 0.67em;}
.pd-left-3 {padding-left: 0.5em;}
.pd-left-2 {padding-left: 0.33em;}
.pd-left-1 {padding-left: 0.17em;}
