.text-36 {font-size: 3em;}
.text-12 {font-size: 2em;}
.text-11 {font-size: 1.83em;}
.text-10 {font-size: 1.67em;}
.text-9 {font-size: 1.5em;}
.text-8 {font-size: 1.33em;}
.text-7 {font-size: 1.17em;}
.text-6 {font-size: 1em;}
.text-5 {font-size: 0.83em;}
.text-4 {font-size: 0.67em;}
.text-3 {font-size: 0.5em;}
.text-2 {font-size: 0.33em;}
.text-1 {font-size: 0.17em;}

.text-spacing-12 {letter-spacing: 0.1em;}
.text-spacing-11 {letter-spacing: 0.092em;}
.text-spacing-10 {letter-spacing: 0.083em;}
.text-spacing-9 {letter-spacing: 0.075em;}
.text-spacing-8 {letter-spacing: 0.067em;}
.text-spacing-7 {letter-spacing: 0.058em;}
.text-spacing-6 {letter-spacing: 0.05em;}
.text-spacing-5 {letter-spacing: 0.042em;}
.text-spacing-4 {letter-spacing: 0.033em;}
.text-spacing-3 {letter-spacing: 0.025em;}
.text-spacing-2 {letter-spacing: 0.017em;}
.text-spacing-1 {letter-spacing: 0.008em;}

.text-spacing--12 {letter-spacing: -0.1em;}
.text-spacing--11 {letter-spacing: -0.092em;}
.text-spacing--10 {letter-spacing: -0.083em;}
.text-spacing--9 {letter-spacing: -0.075em;}
.text-spacing--8 {letter-spacing: -0.067em;}
.text-spacing--7 {letter-spacing: -0.058em;}
.text-spacing--6 {letter-spacing: -0.05em;}
.text-spacing--5 {letter-spacing: -0.042em;}
.text-spacing--4 {letter-spacing: -0.033em;}
.text-spacing--3 {letter-spacing: -0.025em;}
.text-spacing--2 {letter-spacing: -0.017em;}
.text-spacing--1 {letter-spacing: -0.008em;}

.line-height-12 {line-height: 2em;}
.line-height-11 {line-height: 1.83em;}
.line-height-10 {line-height: 1.67em;}
.line-height-9 {line-height: 1.5em;}
.line-height-8 {line-height: 1.33em;}
.line-height-7 {line-height: 1.17em;}
.line-height-6 {line-height: 1em;}
.line-height-5 {line-height: 0.83em;}
.line-height-4 {line-height: 0.67em;}
.line-height-3 {line-height: 0.5em;}
.line-height-2 {line-height: 0.33em;}
.line-height-1 {line-height: 0.17em;}

.text-color-light {
    color: #767676;
}

.text-color-dark {
    color: #181818;
}
