.wrapper-12 {max-width: 1020px; width:100%;}
.wrapper-11 {max-width: 935px; width:100%;}
.wrapper-10 {max-width: 850px; width:100%;}
.wrapper-9 {max-width: 765px; width:100%;}
.wrapper-8 {max-width: 680px; width:100%;}
.wrapper-7 {max-width: 595px; width:100%;}
.wrapper-6 {max-width: 510px; width:100%;}
.wrapper-5 {max-width: 425px; width:100%;}
.wrapper-4 {max-width: 340px; width:100%;}
.wrapper-3 {max-width: 255px; width:100%;}
.wrapper-2 {max-width: 170px; width:100%;}
.wrapper-1 {max-width: 85px; width:100%;}
