.site-header {
    height: 60px;
    background-color: #fdfdfd;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    position: fixed;
    top: 0;
    left: 0;
}

.header-search-result {
    background-color: white;
    max-height: 200px;
    overflow-y: scroll;
}
